<%- include('../includes/header.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <% if (articles.length > 0) { %>
        <div >
            <% for (let article of articles) { %>
                <article>
                    <header>
                        <h1> <%= article.title %></h1>
                    </header>
                    <div>
                        <img  height="100px" width="100px" src="<%= article.imageUrl %>"
                            alt="<%= article.title %>">
                    </div>
                    <div>
                        <h2><%= article.date %></h2>
                        <h2><%= article.month %></h2>
                        <p><%= article.description %></p>
                    </div>
                    
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Trending Articles Found!</h1>
    <% } %>
</main>


<%- include('../includes/footer.ejs') %>